@import "../styles/cores.module.scss";

#pageBlog{
    background-color: #001C31;
}
#boxContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#imgBlog{
    height: 400px;
    width: 400px;
}
#boxInformation{
    display: flex;
    justify-content: center;
}
#waiting{
    margin-top: 100px;
    color: #fff;
    width: 80%;
    text-align: center;
}
@media (320px <= width <= 479px){
    #imgBlog{
        height: 300px;
        width: 300px;
    }  
}